<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"\>
<plist version="1.0">
<dict>
 <key>PasswordGeneratorEnabled</key>
 <false/>
 <key>PasswordManagerEnabled</key>
 <false/>
 <key>PasswordMonitorAllowed</key>
 <false/>
 <key>FeatureFlagOverridesControl</key>
 <integer>1</integer>
 <key>ShowPDFDefaultRecommendationsEnabled</key>
 <false/>
 <key>DefaultNotificationsSetting</key>
 <integer>3</integer>
 <key>EdgeWorkspacesEnabled</key>
 <false/>
 <key>EfficiencyModeOnPowerEnabled</key>
 <false/>
 <key>PrintPdfAsImageDefault</key>
 <false/>
 <key>HubsSidebarEnabled</key>
 <false/>
 <key>NewTabPageSearchBox</key>
 <string>redirect</string>
 <key>LinkedAccountEnabled</key>
 <false/>
 <key>SignInCtaOnNtpEnabled</key>
 <false/>
 <key>AddressBarMicrosoftSearchInBingProviderEnabled</key>
 <false/>
 <key>AllowGamesMenu</key>
 <false/>
 <key>EdgeDiscoverEnabled</key>
 <false/>
 <key>EdgeCollectionsEnabled</key>
 <false/>
 <key>EdgeEnhanceImagesEnabled</key>
 <false/>
 <key>EdgeFollowEnabled</key>
 <false/>
 <key>NewTabPageContentEnabled</key>
 <false/>
 <key>NewTabPageQuickLinksEnabled</key>
 <false/>
 <key>EdgeShoppingAssistantEnabled</key>
 <false/>
 <key>InAppSupportEnabled</key>
 <false/>
 <key>LiveCaptionsAllowed</key>
 <false/>
 <key>MicrosoftEdgeInsiderPromotionEnabled</key>
 <false/>
 <key>QuickSearchShowMiniMenu</key>
 <false/>
 <key>RelatedMatchesCloudServiceEnabled</key>
 <false/>
 <key>ResolveNavigationErrorsUseWebService</key>
 <false/>
 <key>AlternateErrorPagesEnabled</key>
 <false/>
 <key>SSLErrorOverrideAllowed</key>
 <true/>
 <key>SearchInSidebarEnabled</key>
 <integer>2</integer>
 <key>ShowAcrobatSubscriptionButton</key>
 <false/>
 <key>ShowMicrosoftRewards</key>
 <false/>
 <key>ShowRecommendationsEnabled</key>
 <false/>
 <key>SpellcheckEnabled</key>
 <false/>
 <key>TyposquattingCheckerEnabled</key>
 <false/>
 <key>SpeechRecognitionEnabled</key>
 <false/>
 <key>ConfigureOnlineTextToSpeech</key>
 <false/>
 <key>SyncTypesListDisabled</key>
 <array>
  <string>Autofill</string>
  <string>History</string>
  <string>OpenTabs</string>
  <string>Passwords</string>
 </array>
 <key>TrackingPrevention</key>
 <integer>3</integer>
 <key>UserFeedbackAllowed</key>
 <false/>
 <key>VerticalTabsAllowed</key>
 <false/>
 <key>VisualSearchEnabled</key>
 <false/>
 <key>NewTabPageLocation</key>
 <string>about:blank</string>
 <key>AdsTransparencyEnabled</key>
 <false/>
 <key>AmbientAuthenticationInPrivateModesEnabled</key>
 <integer>0</integer>
 <key>AutoImportAtFirstRun</key>
 <integer>4</integer>
 <key>HideFirstRunExperience</key>
 <true/>
 <key>AutofillCreditCardEnabled</key>
 <false/>
 <key>AutofillMembershipsEnabled</key>
 <false/>
 <key>AutofillAddressEnabled</key>
 <false/>
 <key>ClearCachedImagesAndFilesOnExit</key>
 <true/>
 <key>ComposeInlineEnabled</key>
 <false/>
 <key>ConfigureFriendlyURLFormat</key>
 <integer>1</integer>
 <key>CryptoWalletEnabled</key>
 <false/>
 <key>DeveloperToolsAvailability</key>
 <integer>1</integer>
 <key>DiagnosticData</key>
 <integer>0</integer>
 <key>EdgeEnhanceImagesEnabled</key>
 <false/>
 <key>ExperimentationAndConfigurationServiceControl</key>
 <integer>0</integer>
 <key>PaymentMethodQueryEnabled</key>
 <false/>
 <key>PromotionalTabsEnabled</key>
 <false/>
 <key>TabServicesEnabled</key>
 <false/>
 <key>TextPredictionEnabled</key>
 <false/>
 <key>UserAgentReduction</key>
 <integer>2</integer>
 <key>WalletDonationEnabled</key>
 <false/>
 <key>PinBrowserEssentialsToolbarButton</key>
 <false/>
 <key>DiscoverPageContextEnabled</key>
 <false/>
 <key>PictureInPictureOverlayEnabled</key>
 <false/>
 <key>NewTabPageBingChatEnabled</key>
 <false/>
</dict>
</plist>
